
#content {
  background-image: url("../img/womenBackground.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contacts-container {
  position: absolute;
  top: 50%;
  left: 70%;          
  transform: translate(-50%, -50%);
  
  max-width: 450px;
  width: 40%;
  min-width: 350px;
  
  background-color: rgba(245, 232, 217, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}


.contacts-container h1 {
  width: 100%;
  text-align: center;
  font-family: "mont";
  margin-bottom: 20px;
}

.contacts-container p {
  width: 100%;
  text-align: center;
  font-family: "mont_light";
  color: black;
  margin: 5px 0;
}

footer {
  margin-top: auto; 
}


