/* Tablet */
@media (max-width: 1024px) {
    .sidebar { display: none; }
    #login-form, #signup-form { left: 50%; width: 60%; }
    #add-post-form { width: 90%; }
}

/* Mobile */
@media (max-width: 768px) {
    #login-form, #signup-form, #add-post-form { 
        width: 90%; 
        position: relative;
        margin: 50px auto;
    }
    footer #columns-container { flex-direction: column; }
}

/* Small Mobile */
@media (max-width: 600px) {
    #navbar { flex-direction: column; }
    #login-form, #signup-form { width: 95%; }
}